@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "League Spartan", sans-serif;
}

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}


.mui-tccdxk{
  gap: 0.2em!important;
}